.cat-detail h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}
.cat-detail p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
.conf-box
{
    box-shadow: 0 0 10px rgba(187,187,187,.3);
    background: #fff;
    padding: 10px;    margin: 10px 0 20px 0;
}
.conf-title
{
    font-weight: 600;
    color: #0178b3;
    line-height: 21px;
    padding-bottom: 3px;
    margin-top: 8px;
}

.speaker-image img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.speaker-name
{
    font-weight: 600;
    color: #4d4a4a;
    font-size: 17px;
    padding-top: 4px;
}
.speaker-dsg
{
    font-weight: 400;color: #4d4a4a; font-size: 15px;
}
.btn-group .btn-primary {
    color: #fff;
    background-color: #0178b3;
    border-color: #0178b3;
    margin-left: 4px!important;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px!important;
}
.btn-group 
{
    padding-top: 12px;margin-bottom:5px;
}
.conf-date
{
    font-size: 15px;
    padding-top: 8px;
}
.conf-time,.days-lft
{
    font-size: 14px;
    padding-top: 8px;
}
.days-lft
{
    padding-top: 14px;
}