<div class="main-content">


    <div class="page-content cat-detail speaker-page">

        <div class="row">
            <div class="col-md-3">
                    <div class="conf-box">

                       <div class="speaker-box">
                          <div class="row">
                              <div class="col-md-12 text-center">
                                  <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                               </div>
                             <div class="col-md-12 text-center">
                                <div class="speaker-name">Speaker Name</div>
                                <div class="speaker-dsg">Industry Name</div>
                             </div>
                             <div class="conf-title text-center">
                                 Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...
                              </div>

                             <div class="col-md-12 text-center">
                                <div class="btn-group">
                                   <button [routerLink]="['/speakerdetail']" type="button" class="btn btn-primary">Profile & Webinar</button>

                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
<!--end of class col-md-for conf-box-->

<div class="col-md-3">
      <div class="conf-box">

         <div class="speaker-box">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                 </div>
               <div class="col-md-12 text-center">
                  <div class="speaker-name">Speaker Name</div>
                  <div class="speaker-dsg">Industry Name</div>
               </div>
               <div class="conf-title text-center">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...
                </div>

               <div class="col-md-12 text-center">
                  <div class="btn-group">
                     <button [routerLink]="['/speakerdetail']" type="button" class="btn btn-primary">Profile & Webinar</button>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<!--end of class col-md-for conf-box-->

<div class="col-md-3">
      <div class="conf-box">

         <div class="speaker-box">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                 </div>
               <div class="col-md-12 text-center">
                  <div class="speaker-name">Speaker Name</div>
                  <div class="speaker-dsg">Industry Name</div>
               </div>
               <div class="conf-title text-center">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...
                </div>

               <div class="col-md-12 text-center">
                  <div class="btn-group">
                     <button [routerLink]="['/speakerdetail']" type="button" class="btn btn-primary">Profile & Webinar</button>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<!--end of class col-md-for conf-box-->

<div class="col-md-3">
      <div class="conf-box">

         <div class="speaker-box">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                 </div>
               <div class="col-md-12 text-center">
                  <div class="speaker-name">Speaker Name</div>
                  <div class="speaker-dsg">Industry Name</div>
               </div>
               <div class="conf-title text-center">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...
                </div>

               <div class="col-md-12 text-center">
                  <div class="btn-group">
                     <button [routerLink]="['/speakerdetail']" type="button" class="btn btn-primary">Profile & Webinar</button>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<!--end of class col-md-for conf-box-->

<div class="col-md-3">
      <div class="conf-box">

         <div class="speaker-box">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                 </div>
               <div class="col-md-12 text-center">
                  <div class="speaker-name">Speaker Name</div>
                  <div class="speaker-dsg">Industry Name</div>
               </div>
               <div class="conf-title text-center">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...
                </div>

               <div class="col-md-12 text-center">
                  <div class="btn-group">
                     <button type="button" class="btn btn-primary">Profile & Webinar</button>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<!--end of class col-md-for conf-box-->

<div class="col-md-3">
      <div class="conf-box">

         <div class="speaker-box">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                 </div>
               <div class="col-md-12 text-center">
                  <div class="speaker-name">Speaker Name</div>
                  <div class="speaker-dsg">Industry Name</div>
               </div>
               <div class="conf-title text-center">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...
                </div>

               <div class="col-md-12 text-center">
                  <div class="btn-group">
                     <button type="button" class="btn btn-primary">Profile & Webinar</button>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<!--end of class col-md-for conf-box-->

<div class="col-md-3">
      <div class="conf-box">

         <div class="speaker-box">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                 </div>
               <div class="col-md-12 text-center">
                  <div class="speaker-name">Speaker Name</div>
                  <div class="speaker-dsg">Industry Name</div>
               </div>
               <div class="conf-title text-center">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...
                </div>

               <div class="col-md-12 text-center">
                  <div class="btn-group">
                     <button type="button" class="btn btn-primary">Profile & Webinar</button>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<!--end of class col-md-for conf-box-->
<div class="col-md-3">
      <div class="conf-box">

         <div class="speaker-box">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                 </div>
               <div class="col-md-12 text-center">
                  <div class="speaker-name">Speaker Name</div>
                  <div class="speaker-dsg">Industry Name</div>
               </div>
               <div class="conf-title text-center">
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...
                </div>

               <div class="col-md-12 text-center">
                  <div class="btn-group">
                     <button type="button" class="btn btn-primary">Profile & Webinar</button>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<!--end of class col-md-for conf-box-->


    </div>

    </div>
  <div class="clear-fix"></div></div>


