<div class="page-content cat-detail">
    <div class="common-cont-dash">
    <div class="pull-right add-new">
      <a class="btn btn-primary" href="Javascript:;"><i class="fa fa-plus" aria-hidden="true"></i> Add Series</a>
    </div>
<div class="cl"></div>
    <ngb-tabset>
        <ngb-tab title="All">
          <ng-template ngbTabContent>


      <table class="table table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Duration</th>
              <th>Type(F)</th>
              <th>Topic(S)</th>
              <th>&nbsp;</th>
             
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Aug,15 2019</td>
              <td>Available</td>
              <td>90 Mins</td>
              <td><span class="color">Evergreen</span></td>
              <td>Lorem Ipsum Dolor Conference1</td>
              <td><span class="border">View List</span></td>
            </tr>
            <tr>
                <td>Aug,15 2019</td>
                <td>1pm EST</td>
                <td>90 Mins</td>
                <td><span class="color">Live</span></td>
                <td>Lorem Ipsum Dolor Conference2</td>
                <td><span class="border">View List</span></td>
              </tr>
              <tr>
                  <td>Aug,15 2019</td>
                  <td>Available</td>
                  <td>90 Mins</td>
                  <td><span class="color">Evergreen</span></td>
                  <td>Lorem Ipsum Dolor Conference1</td>
                  <td><span class="border">View List</span></td>
                </tr>
                <tr>
                    <td>Aug,15 2019</td>
                    <td>1pm EST</td>
                    <td>90 Mins</td>
                    <td><span class="color">Live</span></td>
                    <td>Lorem Ipsum Dolor Conference2</td>
                    <td><span class="border">View List</span></td>
                  </tr>
                  <tr>
                      <td>Aug,15 2019</td>
                      <td>Available</td>
                      <td>90 Mins</td>
                      <td><span class="color">Evergreen</span></td>
                      <td>Lorem Ipsum Dolor Conference1</td>
                      <td><span class="border">View List</span></td>
                    </tr>
                    <tr>
                        <td>Aug,15 2019</td>
                        <td>1pm EST</td>
                        <td>90 Mins</td>
                        <td><span class="color">Live</span></td>
                        <td>Lorem Ipsum Dolor Conference2</td>
                        <td><span class="border">View List</span></td>
                      </tr>
              
  
          </tbody>
        </table>

      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Live</ng-template>
      <ng-template ngbTabContent>


        </ng-template>
      </ngb-tab>
      <ngb-tab title="Evergreen">
        <ng-template ngbTabContent>

            <p>No Conference</p>
          </ng-template>
        </ngb-tab>

        
      </ngb-tabset>
    </div>
    <div class="cl"></div>
  </div>
  