
  <div class="page-content">
      <div class="spb_text_column">
          <h3 class="spb_heading spb_text_heading"><span>Disclaimer</span></h3>
          <p>BUSINESS Name encourages its users to read the disclaimer carefully before accessing, participating, indulging or creating any user- company relationship. The following disclaimer applies to all the information and content regarding the webinars, various documents, and services present on the site.
          </p>
          <p>BUSINESS Name holds no responsibilities against any error in the content or the information provided by the site. The website is not accountable for inaccuracies or typographical errors.  BUSINESS Name reserves the right to alter, omit or edit any content or portion of the site.  Please note that BUSINESS Name does not guarantee the accuracy, relevance, timeliness, or accountability of those sites. The site may contain any external link added in its content.</p><p>We assume no responsibility for the content, opinions, statement, or any other views projected by the speakers or any related affiliates. We hold no warranty regarding viruses, diagnosis or harmful content present in the site. The content and the information present on the website are exclusive to the site. It is suggested to not reproduce the content as they may contain prior permission or matter subjected to copyright.
          </p>
        </div>
</div>