<footer id="footer">
   
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <ul class="footer-menu">
          <li><a [routerLink]="['terms-and-privacy']">Terms & Privacy </a></li>
          <li><a href="#">Legal </a></li>
          <li><a href="#">Affilate </a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>

      <div class="col-md-6"> <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
          <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </div></div>
    </div>
    <div class="copyright">
      © Copyright <strong>Logo</strong>. All Rights Reserved
    </div>
  </div>
</footer>