<!--<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container">
  
  <a class="navbar-brand" [routerLink]="['']">Logo</a>

 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

 
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['register']">Register</a>
      </li> 
    </ul>
  </div> 
</div>
</nav>-->


<header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
       
        <h1><a [routerLink]="['']">L<span>o</span>go</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a [routerLink]="['']">We</a></li>
          <li><a [routerLink]="['']">Training Option</a></li>
          <li><a [routerLink]="['speaker']">Speaker</a></li>
          <li><a [routerLink]="['']">Opportunity</a></li>
          <li><a [routerLink]="['']">Subscribe Now</a></li>
          <li><a [routerLink]="['faq']">FAQ's</a></li>
          <li><a [routerLink]="['']">Tutorials</a></li>
          <li class="buy-tickets"><a [routerLink]="['login']">Sign In/Register</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
