
  <div class="page-content">
      <div class="spb_text_column">
          <h3 class="spb_heading spb_text_heading"><span>Anti Spam Policy          </span></h3>
          <p>Please read this Anti-Spam Policy (the "Policy", "Anti-Spam Policy") carefully before using the www.businessname.com website (the "Service") operated by BUSINESS Name ("us", "we", or "our").
          </p>
          <p>BUSINESS Name maintains a strict Anti-Spam Policy. We actively encourage our clients to use opt in data, or data purchased from a reputable data supplier. All BUSINESS Name emails include an unsubscribe link. This is a one click simple unsubscribe where a contact is removed from a contact list instantly. BUSINESS Name ensures that any new data provided or acquired by a client is processed against their previous data for duplicates and unsubscribed contacts. No message filtering system is 100% accurate, and from time to time legitimate messages will be filtered-out by us. When a client leaves BUSINESS Name, we ensure that they are notified of all unsubscribed contacts in their data.
          </p>
          <ol>
            <li><p class="strong">What is spam? </p>    <p>In the context of electronic messaging, spam refers to unsolicited, bulk or indiscriminate messages, typically sent for a commercial purpose. We have a zero-tolerance spam policy.
            </p>       </li>
            <li><p class="strong">Credit </p>    <p>This policy is based on an SEQ Legal template. Other SEQ Legal templates include intellectual property rights contracts.

            </p>       </li>
            <li><p class="strong">Automated spam filtering</p><p>Our messaging systems automatically scan all incoming email [and other] messages, and filter-out messages that appear to be spam.</p></li>

            <li><p class="strong">Problems with spam filtering</p><p>No message filtering system is 100% accurate, and from time to time legitimate messages will be filtered-out by our systems.</p><p>If you believe this has happened to a message you have sent, please advise the message recipient by another means.            </p><p>You can reduce the risk of a message being caught by the spam filters by sending the message in plain text (i.e. no HTML), removing any attachments, and ensuring that your messages are scanned for malware before dispatch.
            </p></li>

            <li><p class="strong">User spam  </p><p>We provide a facility that enables users to send [email messages / private messages] to others. Users must not use this facility to send unsolicited, bulk or indiscriminate messages, whether or not for commercial purposes. </p></li>
            <li><p class="strong">Receipt of unwanted messages from us  </p><p>In the unlikely event that you receive any messages from us or sent using our systems that may be considered to be spam, please contact us using the details below and the matter will be investigated.</p></li>
            <li><p class="strong">Changes to this anti-spam policy            </p><p>We may amend this anti-spam policy at any time by publishing a new version on this website. </p></li>
            <li><p class="strong">Contact us            </p><p>Should you have any questions about this anti-spam policy, please contact us using the details set out below:
            </p></li>

          </ol>
          
        </div>
</div>