<div class="banner">
        <img src="../../../assets/finance-banner.png" alt="banner">
     </div>
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="search-frm">
                 <input type="text" placeholder="Search By Topic" class="form-control">
              </div>
              <div class="three-tab">
                 <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                       <a class="nav-link active show" href="#">Webinar</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="#" >Book</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="#" >Speaker</a>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
        
     </div>
     <section id="main-category">
        <div class="container">
           <div class="row">
              <div class="col-lg-3 col-md-6">
                 <div class="category">
                     <a [routerLink]="['category']">  <img src="../../../assets/hr-payroll.jpg" alt="HR & Payroll" class="img-fluid">
                    <div class="details">
                       <h3>HR & Payroll</h3>
                       <div class="category-des">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                       </div>
                    </div></a>
                 </div>
              </div>
              <div class="col-lg-3 col-md-6">
                 <div class="category">
                     <a [routerLink]="['category']"> <img src="../../../assets/Finance.jpg" alt="Finance" class="img-fluid">
                    <div class="details">
                       <h3>Finance</h3>
                       <div class="category-des">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                       </div>
                    </div></a>
                 </div>
              </div>
              <div class="col-lg-3 col-md-6">
                 <div class="category">
                     <a [routerLink]="['category']"> <img src="../../../assets/education.jpg" alt="education" class="img-fluid">
                    <div class="details">
                       <h3>Education</h3>
                       <div class="category-des">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                       </div>
                    </div></a>
                 </div>
              </div>
              <div class="col-lg-3 col-md-6">
                 <div class="category">
                     <a [routerLink]="['category']">  <img src="../../../assets/transportation.jpg" alt="transportation" class="img-fluid">
                    <div class="details">
                       <h3>Transportation</h3>
                       <div class="category-des">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                       </div>
                    </div></a>
                 </div>
              </div>
              <div class="col-lg-3 col-md-6">
                 <div class="category">
                     <a [routerLink]="['category']">  <img src="../../../assets/logistics.jpg" alt="logistics" class="img-fluid">
                    <div class="details">
                       <h3>Logistics</h3>
                       <div class="category-des">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                       </div>
                    </div></a>
                 </div>
              </div>
              <div class="col-lg-3 col-md-6">
                 <div class="category">
                     <a [routerLink]="['category']">  <img src="../../../assets/chemical.jpg" alt="chemical" class="img-fluid">
                    <div class="details">
                       <h3>Chemical</h3>
                       <div class="category-des">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                       </div>
                    </div></a>
                 </div>
              </div>
              <div class="col-lg-3 col-md-6">
                 <div class="category">
                     <a [routerLink]="['category']">  <img src="../../../assets/banking.jpg" alt="banking" class="img-fluid">
                    <div class="details">
                       <h3>Banking</h3>
                       <div class="category-des">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                       </div>
                    </div></a>
                 </div>
              </div>
              <div class="col-lg-3 col-md-6">
                 <div class="category">
                     <a [routerLink]="['category']">  <img src="../../../assets/insurance.jpg" alt="insurance" class="img-fluid">
                    <div class="details">
                       <h3>Insurance</h3>
                       <div class="category-des">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                       </div>
                    </div></a>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <section id="acc-partner">
        <div class="container">
           <div class="section-header">
              <h2>Accrediation Partners</h2>
           </div>
           <div class="row">
              <div class="col-md-4">
                 <div class="acc-box">
                    Parner1
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="acc-box">
                    Parner2
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="acc-box">
                    Parner3
                 </div>
              </div>
           </div>
        </div>
     </section>

     <section id="testimonials">
            <div class="container">
              <div class="section-header">
                <h2>Testimonials</h2>
               
              </div>
              <div class="row">
              <div class="col-md-4">
              <div class="testimonial-item">
                    <p>
                      <img src="../../../assets/quote-sign-left.png" class="quote-sign-left" alt="">
                      Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                      <img src="../../../assets/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                  
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                  </div>
                </div> <div class="col-md-4">
                  <div class="testimonial-item">
                        <p>
                          <img src="../../../assets/quote-sign-left.png" class="quote-sign-left" alt="">
                          Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                          <img src="../../../assets/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                      
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                      </div></div>
                      <div class="col-md-4">
                      <div class="testimonial-item">
                            <p>
                              <img src="../../../assets/quote-sign-left.png" class="quote-sign-left" alt="">
                              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                              <img src="../../../assets/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                          
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                          </div></div></div>

      
            </div>
          </section>