
       
  
    <div class="page-content">  
       <p><strong>Full Plan:-</strong> Valid for 6 months from the date of purchase.<br>
        <strong>Rent Plan:-</strong> Rental expires in 5 days, or 48 hours after you start watching, whichever comes first.
          <br>
          <strong>Live:-</strong> A live webinar is an upcoming webinar where professionals attend the speaker’s live webinar followed by Q&A session.. The live webinar option enables you to have an internet connection from a single computer terminal and you may include as many people as you want from your office computer.
        </p> 
        
  <div class="heading">How it works    </div>
  <p>After registering for the live webinar, the attendees will receive instructions through an email. The mail will include a pass code, using which will allow you to access the live webinar. The session broadcasted can be of 60 or 90 minutes. The most current version of Adobe reader is a must to attend the live conference which is freely available at www.adobe.com. To know more about our upcoming webinars, click here. </p>
  <p class="text-center">or</p>
  <p>Also, Get the instruction to join the live webinar in your My Account section. </p>
<p> <strong>Evergreen:-</strong> The new age webinars known as the Evergreen webinars, these webinars represent the best of both worlds (live and recorded) where we provide a recording of the Live Webinars followed by a Q&A session. The Q&A session will enable the attendee to ask 2-3 questions from the speaker through email or message making it a hybrid webinar service. You can attend an individual or a combined set of webinars. They give you the easy of time and the convenience of watching the webinar offline without an internet connection by adding it to offline downloads.</p>
<p><strong>E-Transcript:-</strong> A written document of the respective webinar in the form of a handout or a PowerPoint Presentation comprises of an e-transcript. <br>
    Our digital PDF documents can be easily accessed with the help of an email account, up to date browser and the free Adobe Acrobat Reader Software.
    </p>
 
    </div> 
    
  
  
  
  