<div class="main-content">
  <app-sidebar></app-sidebar> 
  <div class="page-content">
      <div class="spb_text_column">
          <h3 class="spb_heading spb_text_heading"><span>Privacy Policy</span></h3>
          <p>The following privacy policy is developed by BUSINESS Name (“we,” “us,” or “site”) for the purpose of protecting and preserving the privacy and security of its users (“you” or “your”).</p>
          <p>BUSINESS Name is committed to protecting the privacy and security of its users. Therefore, we have developed a Privacy Policy to explain how we collect, use, and protect the information provided by our users. The policy sets out how we process any personal data provided by our users who visit our site or communicate with us electronically. By accessing our site, you are automatically accepting the practices described in the privacy policy.</p>
          <div class="heading">Information, Collection, and Use</div>
          <p>For a better user experience with BUSINESS Name, we may require to collect certain information and details to provide the services falling under your best interest. We only use the information to contact or identify our users when required.</p>
          <p>Under “personal information,” we collect our users’ name, postal address, email address, phone number, and other private details. The personal information provided by you can be obtained in the form of Registration, Order Form, Log In or Sign Up process, Newsletters subscription or filling any customer queries or feedback form.</p>
          <p>BUSINESS Name does not use, share, or lease your personal information. We strongly refrain from selling any confidential information to any third-party or non-affiliated companies.
          </p>
          <p>The personal information provided by you may be utilized for your personal use or when we are inclined to communicate directly with you via email in order to precede our additional services such as newsletters, promotions, webinar information, and special offers. To amplify the user experience, we will even provide a feedback form for the users to convey us their requirements and experience with BUSINESS Name.</p>
        </div>
</div></div>