<div class="main-content">
    <app-sidebar></app-sidebar>   
  
    <div class="page-content">
       <p>With the aim of enhancing your experience, has integrated all kinds of webinar services to make it a one-stop platform for you to stay up to date with all the latest changes and revisions in the industry.
        </p> 
        
  <div class="heading">Your benefits:    </div>
  <ul>
    <li>24*7 accessible webinars</li>
    <li>Evergreen webinars at your convenience time</li>
    <li>The option of creating your own set of webinar series by adding different webinars to your playlist.</li>
  </ul>

 
    </div> 
  <div class="clear-fix"></div></div>
  
  
  