<div class="page-content">
    <div class="common-cont-dash">
  
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Order No</th>
            <th>Webinar</th>
            <th>Title</th>
            <th>Promotion</th>
            <th>Purchase Date</th>
            <th>$ Price</th>
            <th>Royality</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1010101</td>
            <td>Conference 1 Lorem Ipsum Conference 1 Lorem Ipsum</td>
            <td>Emorize</td>
            <td>Conference 1 Lorem Ipsum</td>
            <td>Aug,19 2019</td>
            <td>$ 999</td>
            <td>$ 99</td>
            <td><span class="border">View</span></td>
          </tr>
          <tr>
              <td>1010101</td>
              <td>Conference 2 Lorem Ipsum Conference 2 Lorem Ipsum</td>
              <td>Speaker</td>
              <td>Conference 1 Lorem Ipsum</td>
              <td>Aug,19 2019</td>
              <td>$ 999</td>
              <td>$ 99</td>
              <td><span class="border">View</span></td>
            </tr>
            <tr>
                <td>1010101</td>
                <td>Conference 1 Lorem Ipsum Conference 1 Lorem Ipsum</td>
                <td>Emorize</td>
                <td>Conference 1 Lorem Ipsum</td>
                <td>Aug,29 2019</td>
                <td>$ 999</td>
                <td>$ 99</td>
                <td><span class="border">View</span></td>
              </tr>
              <tr>
                  <td>1010101</td>
                  <td>Conference 1 Lorem Ipsum Conference 1 Lorem Ipsum</td>
                  <td>Speaker</td>
                  <td>Conference 1 Lorem Ipsum</td>
                  <td>Aug,19 2019</td>
                  <td>$ 999</td>
                  <td>$ 99</td>
                  <td><span class="border">View</span></td>
                </tr>
                <tr>
                    <td>1010101</td>
                    <td>Conference 1 Lorem Ipsum Conference 1 Lorem Ipsum</td>
                    <td>Emorize</td>
                    <td>Conference 1 Lorem Ipsum</td>
                    <td>Aug,19 2019</td>
                    <td>$ 999</td>
                    <td>$ 99</td>
                    <td><span class="border">View</span></td>
                  </tr>
                  <tr>
                      <td>1010101</td>
                      <td>Conference 2 Lorem Ipsum Conference 2 Lorem Ipsum</td>
                      <td>Speaker</td>
                      <td>Conference 1 Lorem Ipsum</td>
                      <td>Aug,19 2019</td>
                      <td>$ 999</td>
                      <td>$ 99</td>
                      <td><span class="border">View</span></td>
                    </tr>
                    <tr>
                        <td>1010101</td>
                        <td>Conference 1 Lorem Ipsum Conference 1 Lorem Ipsum</td>
                        <td>Emorize</td>
                        <td>Conference 1 Lorem Ipsum</td>
                        <td>Aug,29 2019</td>
                        <td>$ 999</td>
                        <td>$ 99</td>
                        <td><span class="border">View</span></td>
                      </tr>
                      <tr>
                          <td>1010101</td>
                          <td>Conference 1 Lorem Ipsum Conference 1 Lorem Ipsum</td>
                          <td>Speaker</td>
                          <td>Conference 1 Lorem Ipsum</td>
                          <td>Aug,19 2019</td>
                          <td>$ 999</td>
                          <td>$ 99</td>
                          <td><span class="border">View</span></td>
                        </tr>
            

        </tbody>
      </table>
      </div>
      <div class="cl"></div>
  </div>
