.border {
    border: 1px solid #866969!important;
    padding: 5px 10px;
    border-radius: 7px;
    color: #524b4b;
}
span.color
{
    color: green;
}
.add-new a
{
 margin-left: 20px;   
}
.add-new
{
    margin-bottom: 25px;
}