<div class="faq-page">
 
  <div class="page-content">
<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1">
    <ng-template ngbPanelTitle>
      <span class="card-header--title">What are Live Webinar?      </span>
    </ng-template>
    <ng-template ngbPanelContent>
    <p>A <strong>Webinar</strong> is an upcoming webinar service where the healthcare professionals attend the speaker’s conference Live followed by a Live Q&A session between them. The attendee is informed in advance of when the session will occur.</p>
    <p>The attendees will receive their Log In details in advance via email(Check your inbox and Spam/Junck) or get in your My Account section.    </p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
  <ng-template ngbPanelTitle>
     <span>What is An Automated Webinar?</span>
  </ng-template>
  <ng-template ngbPanelContent>
   <p> The <strong>Automated  Webinars</strong> are the new age webinars where you can get the webinars at any time of the day and post their respective questions in the 24*7 open Q&A Forum. The Forum will register the questions asked by the attendees and the speaker will answer all the questions without the limitation of time.</p>

  </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3">
    <ng-template ngbPanelTitle>
      <span class="card-header--title"> What is the duration of a webinar?      </span>
    </ng-template>
    <ng-template ngbPanelContent>
   <p>A webinar may vary in time. The duration of a webinar may vary from 60 minutes to 90 minutes. In the case of series and customized webinars – the time can be more or less – as purchased by the attendees.</p>
    </ng-template>
   </ngb-panel>

   <ngb-panel id="static-4">
      <ng-template ngbPanelTitle>
        <span class="card-header--title">How do I register for a webinar?</span>
      </ng-template>
      <ng-template ngbPanelContent>
      <p> We provide various methods of registrations to our attendees. You can register with us by:</p> 
      <p><strong>Online</strong> – Simply Click Here (Registration link) and fill in the details as preferred.</p> 
        <p><strong>Phone</strong> – To register via call, you can connect with our customer service representative on  . . .  and he will assist you in registering for the preferred webinar.</p> 
          <p><strong>E-mail:</strong> You can also mail us at   . . .  and we will send you further details to register with us.</p> 
            <p><strong>Order Form:</strong> You can easily register with BUSINESS Name by filling an Order Form and mailing it to us at . . .</p> 
      </ng-template>
     </ngb-panel>

     <ngb-panel id="static-5">
        <ng-template ngbPanelTitle>
          <span class="card-header--title">What is the difference between live and evergreen webinar?</span>
        </ng-template>
        <ng-template ngbPanelContent>
       <p>A Live Webinar is a one-time webinar where attendees can watch a webinar Live followed by a Q&A session with the speaker.</p><p>An Automated Webinar is an evergreen Webinar where the attendees can watch the webinar for a prearranged period of time together with a 24*7 Q&A Forum open to all attendees, no matter the time.</p>
        </ng-template>
       </ngb-panel>

       <ngb-panel id="static-6">
          <ng-template ngbPanelTitle>
            <span class="card-header--title">What are the various payment modes?</span>
          </ng-template>
          <ng-template ngbPanelContent>
         <p>We provide payment policies through an online made via PayPal. We also provide payment through Credit Cards, including but not limited to Visa, MasterCard, American Express, Discover, etc.</p>
          </ng-template>
         </ngb-panel>

         <ngb-panel id="static-7">
            <ng-template ngbPanelTitle>
              <span class="card-header--title">What is the Refund Policy?</span>
            </ng-template>
            <ng-template ngbPanelContent>
           <p>We have a very customer-friendly Refund Policy. To read our Refund Policy Please <a href="">Click Here. </a>  </p>
            </ng-template>
           </ngb-panel>

           <ngb-panel id="static-8">
            <ng-template ngbPanelTitle>
              <span class="card-header--title">How will I receive information regarding my webinar?</span>
            </ng-template>
            <ng-template ngbPanelContent>
           <p>LogIn to your account to get the information to join the live webinar.          </p>
           <p>We will mail you the access information regarding your purchased webinar 48 hours before the scheduled time of the webinar.   </p><p>To receive it via phone, we can also send you the link through which you can enter the session directly.
          </p><p>To receive the access information, kindly check your Junk/Spam folder too.  
          </p>
            </ng-template>
           </ngb-panel>


           <ngb-panel id="static-9">
            <ng-template ngbPanelTitle>
              <span class="card-header--title">What are the system requirements to attend a webinar?              </span>
            </ng-template>
            <ng-template ngbPanelContent>
           <p>To attend any webinar, you need a good internet connection and an electronic device like a Phone, Desktop, Laptop, IPad, and tablet.  </p>
            </ng-template>
           </ngb-panel>


           <ngb-panel id="static-10">
            <ng-template ngbPanelTitle>
              <span class="card-header--title">What are the different modes available for these webinars?</span>
            </ng-template>
            <ng-template ngbPanelContent>
           <p>The Webinars are available in the form of Video, Audio (Mp3 format), Presentation (PPT and E-Transcript). </p>
            </ng-template>
           </ngb-panel>


           <ngb-panel id="static-11">
            <ng-template ngbPanelTitle>
              <span class="card-header--title">How can I refer and earn from the site?        </span>
            </ng-template>
            <ng-template ngbPanelContent>
          <p>With every Refer To Friend, you will receive  . . .  coins which will deduct your bought amount in the next purchased webinar.          </p>
            </ng-template>
           </ngb-panel>


           <ngb-panel id="static-12">
            <ng-template ngbPanelTitle>
              <span class="card-header--title">How do I get in contact with the support team?</span>
            </ng-template>
            <ng-template ngbPanelContent>
          <p>To get in touch with our support team, simply call our customer service representative at:  Connect Me
          </p>
            </ng-template>
           </ngb-panel>


           

</ngb-accordion></div></div>