<div class="page-content">
<div class="common-cont-dash book-view">
  <input class="form-control" type="text" placeholder="Search by Book Name">

  <div class="book-cont">
   <ul>
     <li><a href="javascript:;"><i class="fa fa-plus" aria-hidden="true"></i></a></li>

     <li><a href="javascript:;">Book Name</a></li>

     <li><a href="javascript:;">Book Name</a></li>
     <li><a href="javascript:;">Book Name</a></li>
     <li><a href="javascript:;">Book Name</a></li>
     <li><a href="javascript:;">Book Name</a></li>
     <li><a href="javascript:;">Book Name</a></li>
     <li><a href="javascript:;">Book Name</a></li>
     <li><a href="javascript:;">Book Name</a></li>
     <li><a href="javascript:;">Book Name</a></li>
     <li><a href="javascript:;">Book Name</a></li>
     <li><a href="javascript:;">Book Name</a></li>
     <li><a href="javascript:;">Book Name</a></li>
     <li><a href="javascript:;">Book Name</a></li>
     <li><a href="javascript:;">Book Name</a></li>
   </ul>

  </div>
</div>
<div class="cl"></div>
  </div>
