<div class="main-content">
  <app-sidebar></app-sidebar> 
  <div class="page-content">
      <div class="spb_text_column">
          <h3 class="spb_heading spb_text_heading"><span>Privacy policy</span></h3>
          <p>All information provided by you is only used to ensure the best possible shopping experience. All information is strictly confidential.&nbsp;Your personal information will not be shared, circulated, nor modified in any way without your previous consent.</p>
          <p>If you place an order with us, we request certain personal information. You must provide contact information (such as name, email and delivery address) and financial information (such as credit card number, expiration date and the 3 digit security code). We use this information for billing purposes and to complete your order. If we have trouble processing an order, we will use your contact information. Your telephone number is required for shipping purposes in case UPS needs to contact you regarding the delivery.</p>
          <p>We use third-party web beacons (Google Analytics) from Google to help analyze where visitors go and what they do while visiting our website.&nbsp;We reserve the right to modify this privacy policy at any time, so please review it frequently. If we make significant changes to this policy, we will notify you here and by a notice on the website in general.</p>
          <p>This was last updated on May 15 2012.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          
        </div>
</div></div>