<div class="main-content">
  
  <div class="page-content">
      <div class="spb_text_column">
          <h3 class="spb_heading spb_text_heading"><span>Terms & Condition</span></h3>
          <p>By continuing to access this website and/or purchase online conference/s or webinar/s from BUSINESS Name (Coding Research), you agree to the underlying terms and conditions. You agree to legally abide by, and be bound by the terms and conditions herein, which shall take effect immediately upon your very first use of this website.
          </p>
          <div class="heading">Definition</div>
          <ul>
            <li>http://www.BUSINESS Name.com/ will be referred herein as “the website"
            </li>
            <li>“we” and “us” signifies or Coding research.</li>
            <li>This Disclaimer is ‘as is’ and applies to every user accessing the website.
            </li>
            <li>This Disclaimer applies to the entire content displayed on the BUSINESS Name  website and can change without any prior intimation.
            </li>
          </ul>
          <div class="heading">Access to the Website and its Content</div>
          <ul>
            <li>The information provided on the website for various products or services we offer is in no way any endorsement or recommendation to purchase them. It is advisable to seek appropriate independent advice before transacting for any kind of product or service displayed on the website.
            </li>
            <li>To promote ease of use of the website, we might make changes to the design of the website or the specifications of the products and\or services.
            </li>
            <li>We strive to keep the website up-to-date, and thus, specifications and information regarding some products or services are subject to change without prior notice.</li>
            <li>We endeavor to allow you with uninterrupted access to the website, but sometimes access to website may have to be suspended, withheld, restricted or temporarily terminated by us at any time without any prior intimation.
            </li>
            <li>The website may contain links to other websites over which we have no control, and thus we assume no responsibility and liability for the accuracy of information displayed on the aforementioned links.
            </li>
          </ul>
          <div class="heading">Intellectual Property</div>
          <ul>
            <li>The contents of the website are intended for personal and non-commercial use only. All material displayed on the website (including, but not limited to downloadable PDF articles, product features, photographs and images, brand logos, illustrations, audio and video clips, also known as the “content”) are protected under copyright.</li>
            <li>All trademarks or other intellectual property rights are owned or controlled by Coding Research, or the party credited to as the ‘provider’ of the content.</li>
            <li>You shall abide by all additional copyright notices, legal information, and/or restrictions implied on any content accessed and viewed through this Website.
            </li>
            <li>The website and all its contents are protected by international copyright laws. You may not modify, print, publish, distribute, transmit, or display in any way the content of this website (including the software) in whole or in part to malign the authority of Coding Research.
            </li>
            <li>You can download or copy content from the website, including PDF downloadable items displayed on the website subject to the following conditions:
              <ol>
                <li>The downloaded or copied material may only be used for your personal and non-commercial purposes.
                  </li>
                  <li>Copying, duplicating or storing of any content for non- personal use is expressly prohibited unless you obtain prior written permission from Coding research or the copyright holder identified in the copyright notice.
                    </li>
                  <li>All copies and downloaded must maintain original copyright and other intellectual property notices supplied with the original material;</li>
                  <li>The products, technologies or processes illustrated or described on the website may be governed by other intellectual property rights reserved by Coding Research or by other third parties. No license is granted to you in respect of those intellectual property rights.</li>
                  <li>Images, trademarks and brand names displayed on this website are protected by copyright and other intellectual property laws, and should not be reproduced or appropriated in any manner without prior written permission of their respective owner(s) and copyright holders.
                    </li>
              </ol>
            </li>
          </ul>
          <div class="heading">Exclusions of Liability </div>
          <ul>
            <li>We try to ensure that all content on the website is accurate, yet we reserve the right to correct any errors, misinformation or omissions as soon as we are notified about them.</li>
            <li>We do not monitor, verify or endorse any of the information submitted by third parties for posting on the website and you should make yourself aware that it may be inaccurate, out-of-date or incomplete.
              </li>
            <li>To the extent permissible by applicable law, we disclaim all kinds of warranties and representations (whether express or implied) regarding the efficiency and accuracy of any information contained on the website. We do not expressly guarantee that the content on the website is fault-free. We will not accept liability for any errors, misappropriations or omissions.
              </li>
            <li>We are not liable for any losses or claims arising from your inability to access the Website due to technical issues, or from any use of the Website or reliance on the data transmitted while using the Website.
              </li>
            <li>In no circumstances shall we be liable for any indirect loss, inconsequential loss, loss of profits, loss of data, loss of anticipated savings and revenue, any kind of business opportunity, goodwill and/or reputation earned whether in contract, tort or otherwise that arises due to use of the website or these terms and conditions
              </li>
            <li>We do not warrant that the website is free from viruses and we shall not be liable for any loss or damage to technological property you might incur from the use of this website.</li>
          </ul>
          <div class="heading">Username and Password </div>
          <ul>
            <li>Upon registering at the website, you will be issued a username and password, which you may use to access certain restricted parts of the website. However, the username and password is personal and private to you and is non-transferable.
              </li>
            <li>You are responsible for any/all information posted on the website including payments due for services using your username and password.
              </li>
            <li>If you suspect that anyone else is impersonating you and accessing your account on the website, you should notify us immediately for any breach of security pertaining to your account.
              </li>
            <li>You may not adapt or circumvent the authentication systems used for establishing a connection to the website, nor access the website via any illegal or banned methods.
              </li>
          </ul>
          <div class="heading">Data Submitted By Users</div>
          <ul>
            <li>You are responsible for ensuring that none of the information uploaded or submitted by you on the website is untrue, incomplete, defamatory, abusive, obscene, curt, objectionable or in breach of the terms and conditions of this website and any applicable laws or rights of third parties.
              </li>
            <li>We accept no liability for incorrect information supplied by any user for display on the website. If you wish to submit personal data for display on the website, you are responsible for ensuring that the information supplied by you is totally accurate, complete and up-to-date.
              </li>
            <li>You also warrant that you have taken precautionary measures to ensure that information uploaded by you is virus-free and any other information that may have a tarnishing effect to the website or any of its technologies.
              </li>
            <li>To remove any\all offensive material from the website, we reserve the right to remove said material from the website at any time.
              </li>
            <li>If we incur any claim or loss suffered by us arising out of your failure to purport accurate information on the website, you are bound to indemnify us.
              </li>
          </ul>
          <div class="heading">Termination of Website Access</div>
          <ul>
            <li>We reserve the sole right to terminate your access to the website and its services, in part or full, within 3 days. A written notice to you will be sent to you regarding the reason for termination.
              </li>
              <li>All aforesaid indemnities, exclusions and disclaimers in these terms and conditions will bear proof to the termination of the agreement between you and Coding Research.
                </li>
          </ul>
          <div class="heading">Terms and Conditions For the Sale Of Products <br>Formation of Agreement
          </div>
          <ul>
            <li>An agreement between us is made on the premise that we will sell you products after a confirmed payment is made or a product is downloaded, whichever is earlier.              </li>
            <li>Description of the webinar, its price, currency applicable and underlying shipping costs are all explicitly mentioned in the Order Page.
              </li>
          </ul>
          <div class="heading">Orders</div>
          <ul>
            <li>The price quoted on the website for a particular webinar or service is the final price that you will have to pay to obtain the goods.
              </li>
            <li>All orders shall be accepted on the basis of our sole discretion. Most orders are accepted on the basis of these factors:
                <ul>
                    <li>The conference is being held
                      </li>
                    <li>The order reflects current pricing                      </li>
                    <li>You are based in a country to which we are currently able to sell and ship goods to</li>
                    <li>Your credit or account card is authorized for the transaction           </li>
                  </ul>
              </li>
            <li>Product delivery
              <ul>
                <li>The Webinar Login instructions will be emailed 3 days prior to the webinar.</li>
                <li>The DVD will be dispatched within 7 working days from the date of Webinar.
                  </li>
                <li>The Transcript will be emailed within 7 working days from the date of Webinar.
                  </li>
                <li>The Web Download link will be shared within 3 working days from the date of webinar.</li>
              </ul>
            </li>
          </ul>
          <div class="heading">Acceptance of Your Order </div>
          <p>We will confirm successful order placement via email as soon as the receipt of your payment has been cleared by a payment gateway of your choice.
            </p>
            <div class="heading">Payment</div>
            <p>We shall charge your account for payment for a particular service or goods upon receipt of your order.
              </p>
              <div class="heading">Delivery Dates                </div>
              <ul>
                <li>Unless we specify otherwise via email, delivery dates for any kind of hard copy products will always be within 20 working days from the date of live webinar.              </li>
                <li>All delivery dates are assigned only for general guidance. We will not be held liable in any way for late delivery of goods and any personal losses incurred by you due to the delay.                  </li>
              </ul>
              <div class="heading">Method For Delivery</div>
              <ul>
                <li>All physical goods ordered by you will be delivered to the address you specify for delivery.
                  </li>
                  <li>It is your responsibility to ensure that any/all addresses supplied by you are accurate and that the product will be collected by you or someone authorized by you to accept delivery.
                    </li>
              </ul>
              <div class="heading">Ownership
                </div>
                <ul>
                  <li>Goods supplied are not for resale.
                    </li>
                    <li>You will own the goods once we have received cleared payment for them in full and after they are successfully delivered to you. Until then, we will retain title to those goods.
                      </li>
                </ul>
                <div class="heading">E-mail, username and password
                  </div>
                  <ul>
                    <li>E-mails regarding your order and its delivery schedule will be sent to the email address you register with us. It is your responsibility to give us a valid and up-to-date email address and notify us about any change in your email address.
                      </li>
                      <li>Your username and password is non-transferable and personal to you. You will be solely responsible for any payments made/due for the goods or services ordered through the website by you or anyone else using your username and password.
                        </li>
                  </ul>
                  <div class="heading">Money Refund</div>
                  <ul>
                    <li>Please refer to Money Refund Policy section on the website for details.
                      </li>
                  </ul>
                  <div class="heading">General</div>
                  <ul>
                    <li>If we fail to enforce any right entitled to you under our terms of agreement, that failure will not prevent us from enforcing other applicable rights, or the same type of right in a different scenario.
                      </li>
                      <li>If any provision under these terms and conditions is held to be unlawful, incorrect, invalid and/or unenforceable, that specific provision shall be deemed null and void, but the enforceability and the validity of all remaining provisions under these terms and conditions shall not be affected under any circumstances.
                        </li>
                        <li>If you have a complaint or suggestion, please email us at support@BUSINESS Name.com
                          </li>
                  </ul>
                  <div class="heading">Governing law</div>
                  <ul>
                    <li>These terms and conditions shall be governed by, and expressly construed in accordance and compliance with laws.</li>
                    <li>Any disputes shall be subject to the exclusive jurisdiction of the courts, to which both parties expressly submit.
                      </li>
                  </ul>
                  <p>If you don’t agree to any of the terms and conditions and are unwilling to be legally bound by these terms, please do not use the website or do not access it.
                    </p>
        </div>
</div></div>