

  <div class="page-content cat-detail">
     <div class="row">
        <div class="col-md-7">
            <div class="speaker-bio">
                  <div class="speaker-img">
                     <img src="../../../assets/hr-payroll.jpg" alt="">
                     <h2> Speaker Name</h2>
                     <h3>Speaker Industry</h3>
                  </div>
           
                  <div class="speaker-txt conf-txt">
                        <div class="conf-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
                           Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>

                           <div class="conf-date pull-left"><i aria-hidden="true" class="fa fa-calendar"></i> Jul 19, 2019 <span>|</span> 90 Minutes <span>|</span> 1 pm EST</div>
                           <div class="days-lft pull-right">30 Days Left</div>
                           <div class="cl"></div>
                           <div class="share-cnf pull-right">

                        <span>Refer to Friend</span> <span>Social Share</span>
                           </div>
                     </div>
               </div>
        </div>

        <div class="col-md-5">
        <div class="conf-price">
         <div class="row">

            <div class="col-md-12">
                  <ul>
                     <li>Live $999 <input type="checkbox"></li>
                  </ul>
                  <div class="buy-option">
                     <h3>Buy</h3>
                     <ul>
                           <li>Recording $999 <input type="checkbox"></li>
                           <li>Transcript $999 <input type="checkbox"></li>
                        </ul>
                  </div>

                  <div class="rent-option">
                        <h3>Rent</h3>
                        <ul>
                              <li>$999 <input type="checkbox"></li>
                              <li>$999 <input type="checkbox"></li>
                           </ul>
                     </div>
                     <div class="note-option">
                        <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
                           Lorem ipsum dolor</p>
                     </div>
            </div>
         </div>

        </div>
         
         </div>

    

   </div>

    <!--end of class speaker-bio-->

<div class="conf-dtl">
   <div class="row">
      <div class="col-md-7">
<div class="conf-dtl-lft">
      <ngb-tabset>
            <ngb-tab title="Key Points">
              <ng-template ngbTabContent>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    <h3>Why should you attend?</h3>
                    <ul>
                       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
                       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
                       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
                       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
                       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
                    </ul>

                    <h3>Who should you attend?</h3>
                    <ul>
                       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
                       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
                       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
                       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
                       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
                    </ul>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Description</ng-template>
              <ng-template ngbTabContent>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="About Speaker">
              <ng-template ngbTabContent>
                <p>No Conference</p>
              </ng-template>
            </ngb-tab>
      
            
          </ngb-tabset>
</div>
</div>
<div class="col-md-5">
<div class="conf-dtl-rft">
   <h3>Related Webinar</h3>
   <ul>
      <li>
         <div class="row">
            <div class="col-md-7">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                 
            </div>
            <div class="col-md-5">
                  <p>Live <i aria-hidden="true" class="fa fa-calendar" style="padding-left: 40px;"></i> Jul 19, 2019</p>
            </div>
         </div>
      </li>

      <li>
            <div class="row">
               <div class="col-md-7">
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    
               </div>
               <div class="col-md-5">
                     <p>Live <i aria-hidden="true" class="fa fa-calendar" style="padding-left: 40px;"></i> Jul 19, 2019</p>
               </div>
            </div>
         </li>

         <li>
               <div class="row">
                  <div class="col-md-7">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                       
                  </div>
                  <div class="col-md-5">
                        <p>Live <i aria-hidden="true" class="fa fa-calendar" style="padding-left: 40px;"></i> Jul 19, 2019</p>
                  </div>
               </div>
            </li>

            <li>
                  <div class="row">
                     <div class="col-md-7">
                           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                          
                     </div>
                     <div class="col-md-5">
                           <p>Live <i aria-hidden="true" class="fa fa-calendar" style="padding-left: 40px;"></i> Jul 19, 2019</p>
                     </div>
                  </div>
               </li>

               <li>
                     <div class="row">
                        <div class="col-md-7">
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                             
                        </div>
                        <div class="col-md-5">
                              <p>Live <i aria-hidden="true" class="fa fa-calendar" style="padding-left: 40px;"></i> Jul 19, 2019</p>
                        </div>
                     </div>
                  </li>
   </ul>
   </div>
</div>
</div>

</div>

  

</div>
<div class="clear-fix"></div>


