<div class="main-content">
  
  <div class="page-content">
      <div class="spb_text_column">
          <h3 class="spb_heading spb_text_heading"><span>Refund & Cancellation          </span></h3>
         <p> Thank You for connecting with BUSINESS Name.</p>

         <p>  Our team at BUSINESS Name is committed to 100% customer satisfaction. We are dedicated to giving the best services to our customers, and our refund policy is one such example of that.</p>
          
          <p>  Elucidated below are the Refund, Cancellation, and Substitution policies of BUSINESS Name. Please read carefully the following information on our Refund Policy.</p>
          <div class="heading">Cancellation</div>
          <p>   The cancellation request for Live, Recorded, and Automated webinars will be accepted. The policy of canceling the order is as follows:</p>

            <p> In order to successfully proceed with the cancellation process, you may cancel your order at least 72 hours before the scheduled time of the webinar. </p>

              <p> We do not accept any cancellation request sent after the given time frame i.e.72 hours prior to the scheduled webinars.</p>
 
                <p> When the cancellation process is activated – before 72 hours – the considered amount will be directly refunded into your account. A small charge of $... will be deducted from the amount refunded which is subsequently used in the processing of the refund request.</p>

                  <p> Note: In order to present our customers with the best cancellation services, we also have the convenience of shifting your amount/seat to the next suitable webinar session to ease up your experience also saving your time and money.</p>
                  <div class="heading">Refund</div>
                  <p>Our Refund Policy is applicable in case of cancellation of the . . . Webinars. We do not offer any refunds for . . . Webinars.</p>
                  <p>If the customer applies for the cancellation request, at least 72 hours prior to the scheduled session, he/she will be refunded with 25% of the considered amount of the order or an option of attending another suitable webinar as desired by the attendee. 	</p>
                  <p>We will not initiate the refund request in cases where the customers didn’t contact the customer service representative 24 hours prior to the scheduled webinar to gain access to his/her login instructions.                  </p>
                  <p>Note: BUSINESS Name acquires the responsibility of refunding the 100% amount to its users/customers in case the technical glitches or other concerned issues arise on the part of BUSINESS Name and not otherwise.</p>
                  <div class="heading">Substitution</div>
<p>Our substitution policy is simple and free of cost, making it an easy process for our customers to proceed.
</p><p>The request for substituting a webinar with another applies to all the three – Live, Recorded, and Automated webinars – provided the variation in the time and price of the webinar. 
</p><p>The convenience of substituting a webinar with another one arises when, after purchasing a webinar, a customer feels that the purchased webinar is irrelevant or insignificant to their interest.
</p><p>The request of substitution can also be made to substitute the webinar purchased, registered attendee’s place, or a webinar’s date or time.
</p><p>Note: The above-stated cancellation, refund, and substitution policies will only be applicable to the situation where customers fulfill their responsibility of getting in touch with the service department before the given time frame by BUSINESS Name.
</p>
          
        </div>
</div></div>