<div class="main-content">
    <app-sidebar></app-sidebar>   

    <div class="page-content">
            <vg-player>
                    <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls width="352">
                        <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                    </video>
                    </vg-player>
                    <vg-player>
                    <video [vgMedia]="media" #media id="singleVideo2" preload="auto" controls width="352">
                        <source src="https://www.radiantmediaplayer.com/media/bbb-360p.mp4" type="video/mp4">
                    </video>
                    
                    
                    </vg-player>
                    
                    <vg-player>
                    <video [vgMedia]="media" #media id="singleVideo3" preload="auto" controls width="352">
                        <source src="http://www.html5videoplayer.net/videos/toystory.mp4" type="video/mp4">
                    </video>
                    
                    
                    </vg-player><vg-player>
                            <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls width="352">
                                <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                            </video>
                            </vg-player>
                            <vg-player>
                            <video [vgMedia]="media" #media id="singleVideo2" preload="auto" controls width="352">
                                <source src="https://www.radiantmediaplayer.com/media/bbb-360p.mp4" type="video/mp4">
                            </video>
                            
                            
                            </vg-player>
                            
                            <vg-player>
                            <video [vgMedia]="media" #media id="singleVideo3" preload="auto" controls width="352">
                                <source src="http://www.html5videoplayer.net/videos/toystory.mp4" type="video/mp4">
                            </video>
                            
                            
                            </vg-player>

    </div> 
<div class="clear-fix"></div></div>


  