 

  <div class="page-content cat-detail">
      <h2> HR & Payroll</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <ngb-tabset>
        <ngb-tab title="All">
          <ng-template ngbTabContent>
                <div class="row">
                        <div class="col-md-4">
                                <div class="conf-box">
                                   <div class="conf-title">
                                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                   </div>
                                   <div class="speaker-box">
                                      <div class="row">
                                         <div class="col-md-6 text-left">
                                            <div class="speaker-name">Speaker Name</div>
                                            <div class="speaker-dsg">Industry Name</div>
                                         </div>
                                         <div class="col-md-6 text-right">
                                            <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                                         </div>
                                         <div class="col-md-8 conf-date">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Jul 19, 2019 <span>|</span> 1 Hour
                                         </div>
                                         <div class="col-md-4 conf-time">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> 1:00 pm EST
                                         </div>
                                         <div class="col-md-4">
                                            <div class="days-lft">30 Days Left</div>
                                         </div>
                                         <div class="col-md-8">
                                            <div class="btn-group">
                                               <button type="button" class="btn btn-primary">Preview</button>
                                               <button type="button" class="btn btn-primary">$ 999 Register</button>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
            <!--end of class col-md-for conf-box-->

            <div class="col-md-4">
                    <div class="conf-box">
                       <div class="conf-title">
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                       </div>
                       <div class="speaker-box">
                          <div class="row">
                             <div class="col-md-6 text-left">
                                <div class="speaker-name">Speaker Name</div>
                                <div class="speaker-dsg">Industry Name</div>
                             </div>
                             <div class="col-md-6 text-right">
                                <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                             </div>
                             <div class="col-md-8 conf-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i> Jul 19, 2019 <span>|</span> 1 Hour
                             </div>
                             <div class="col-md-4 conf-time">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 1:00 pm EST
                             </div>
                             <div class="col-md-4">
                                <div class="days-lft">30 Days Left</div>
                             </div>
                             <div class="col-md-8">
                                <div class="btn-group">
                                   <button type="button" class="btn btn-primary">Preview</button>
                                   <button type="button" class="btn btn-primary">$ 999 Register</button>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
<!--end of class col-md-for conf-box-->


<div class="col-md-4">
        <div class="conf-box">
           <div class="conf-title">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit
           </div>
           <div class="speaker-box">
              <div class="row">
                 <div class="col-md-6 text-left">
                    <div class="speaker-name">Speaker Name</div>
                    <div class="speaker-dsg">Industry Name</div>
                 </div>
                 <div class="col-md-6 text-right">
                    <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                 </div>
                 <div class="col-md-8 conf-date">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Jul 19, 2019 <span>|</span> 1 Hour
                 </div>
                 <div class="col-md-4 conf-time">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> 1:00 pm EST
                 </div>
                 <div class="col-md-4">
                    <div class="days-lft">30 Days Left</div>
                 </div>
                 <div class="col-md-8">
                    <div class="btn-group">
                       <button type="button" class="btn btn-primary">Preview</button>
                       <button type="button" class="btn btn-primary">$ 999 Register</button>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
<!--end of class col-md-for conf-box-->

<div class="col-md-4">
        <div class="conf-box">
           <div class="conf-title">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit
           </div>
           <div class="speaker-box">
              <div class="row">
                 <div class="col-md-6 text-left">
                    <div class="speaker-name">Speaker Name</div>
                    <div class="speaker-dsg">Industry Name</div>
                 </div>
                 <div class="col-md-6 text-right">
                    <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                 </div>
                 <div class="col-md-8 conf-date">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Jul 19, 2019 <span>|</span> 1 Hour
                 </div>
                 <div class="col-md-4 conf-time">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> 1:00 pm EST
                 </div>
                 <div class="col-md-4">
                    <div class="days-lft">30 Days Left</div>
                 </div>
                 <div class="col-md-8">
                    <div class="btn-group">
                       <button type="button" class="btn btn-primary">Preview</button>
                       <button type="button" class="btn btn-primary">$ 999 Register</button>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
<!--end of class col-md-for conf-box-->
                </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Live</ng-template>
          <ng-template ngbTabContent><div class="row">
                <div class="col-md-4">
                        <div class="conf-box">
                           <div class="conf-title">
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                           </div>
                           <div class="speaker-box">
                              <div class="row">
                                 <div class="col-md-6 text-left">
                                    <div class="speaker-name">Speaker Name</div>
                                    <div class="speaker-dsg">Industry Name</div>
                                 </div>
                                 <div class="col-md-6 text-right">
                                    <div class="speaker-image"><img src="../../../assets/hr-payroll.jpg" alt=""></div>
                                 </div>
                                 <div class="col-md-8 conf-date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> Jul 19, 2019 <span>|</span> 1 Hour
                                 </div>
                                 <div class="col-md-4 conf-time">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> 1:00 pm EST
                                 </div>
                                 <div class="col-md-4">
                                    <div class="days-lft">30 Days Left</div>
                                 </div>
                                 <div class="col-md-8">
                                    <div class="btn-group">
                                       <button type="button" class="btn btn-primary">Preview</button>
                                       <button type="button" class="btn btn-primary">$ 999 Register</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
    <!--end of class col-md-for conf-box-->
    </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Evergreen">
          <ng-template ngbTabContent>
            <p>No Conference</p>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Past">
                <ng-template ngbTabContent>
                  <p>No Conference</p>
                </ng-template>
              </ngb-tab>
      </ngb-tabset>

  </div> 
<div class="clear-fix"></div>


