<div class="page-content">
  <div class="common-cont-dash">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Publish Date</th>
            <th>Blog Title</th>
            <th>&nbsp;</th>
            
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Aug,15 2019</td>
            <td>Lorem Ipsum Dolor Conference2 Lorem Ipsum Dolor Conference2</td>
            <td><a href="javascript:;">View/Edit</a></td>
          </tr>
          <tr>
              <td>Aug,15 2019</td>
              <td>Lorem Ipsum Dolor Conference2 Lorem Ipsum Dolor Conference2</td>
              <td><a href="javascript:;">View/Edit</a></td>
            </tr>
            <tr>
                <td>Aug,15 2019</td>
                <td>Lorem Ipsum Dolor Conference2 Lorem Ipsum Dolor Conference2</td>
                <td><a href="javascript:;">View/Edit</a></td>
              </tr>
              <tr>
                  <td>Aug,15 2019</td>
                  <td>Lorem Ipsum Dolor Conference2 Lorem Ipsum Dolor Conference2</td>
                  <td><a href="javascript:;">View/Edit</a></td>
                </tr>
                <tr>
                    <td>Aug,15 2019</td>
                    <td>Lorem Ipsum Dolor Conference2 Lorem Ipsum Dolor Conference2</td>
                    <td><a href="javascript:;">View/Edit</a></td>
                  </tr>
                  <tr>
                      <td>Aug,15 2019</td>
                      <td>Lorem Ipsum Dolor Conference2 Lorem Ipsum Dolor Conference2</td>
                      <td><a href="javascript:;">View/Edit</a></td>
                    </tr>
            

        </tbody>
      </table>
    </div>
    <div class="cl"></div>
  </div>
